body {
	margin: 0;
	background: black;
	color: white;
	font-family: Arial;
}

main {
	text-align: center;
	margin: 0 auto;
	padding: 100px;
}

#time {
	font-size: 100px;
}

#date {
	font-size: 55px;
}